<header>
  <nav class="navbar navbar-expand-lg" style="background-color:#9d4edd">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex m-auto" role="search">
          <input class=" m-2 inp" type="search" placeholder="Search" aria-label="Search">
          <button class="bt" type="submit"><i class="fa-solid fa-magnifying-glass ic"></i></button>
        </form>
      </div>
    </div>
  </nav>
  <section class="barraCategoria">
    <ul>
      <li><a [routerLink]="['/livros']">todos</a></li>
      <li *ngFor="let c of service.categoria"><a [routerLink]="['/livros', c.nm_categoria]">{{c.nm_categoria}}</a></li>
    </ul>
</section>
</header>

<router-outlet></router-outlet>